name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 'latest-stable'
    - name: Build
      run: xcodebuild -scheme present-flow build -destination "platform=iOS Simulator,name=iPhone 17 Pro Max,OS=latest" -derivedDataPath .build
    - name: Run tests
      run: xcodebuild -scheme present-flow test -destination "platform=iOS Simulator,name=iPhone 17 Pro Max,OS=latest" -derivedDataPath .build -enableCodeCoverage YES
    - name: Convert code coverage
      run: xcrun llvm-cov export -format="lcov" -instr-profile=$(find .build -name Coverage.profdata) $(find .build -name '*.xctest')/*Tests > info.lcov
    - name: Upload coverage reports
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

